
#cal, #cal .content 
{
    -fx-background-color: transparent;
}


#sel, #sel .content 
{
    -fx-background-color: #898989;
    -fx-background-radius: 0;
}

#cur, #cur .content 
{
    -fx-background-color: #6d6d6d;
    -fx-background-radius: 0;
}